# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

#logs
*.log

# Tesla secrets
cache.json
token.json
scheduled_charges.json
*.pem

# Environment
.env
.venv/
venv/

# TLS certificates for fleet telemetry
certs/
